{% extends 'base.html' %}
{% load crispy_forms_tags %}
<!-- {% load static %} -->
{% block title_block %}CHANGE PASSWORD{% endblock %}
{% block linkcss %}<link rel="stylesheet" href="{% static 'css/style.css' %}"> {% endblock %}

{% block body %}
{% if password_changed %}
<div class="alert alert-success">
  Password changed <strong>Successfully!</strong>
</div>
{% endif %}
<form method="POST">
  {{form|crispy}}
  {% csrf_token %}
  <button type="submit" class="btn btn-success">Change Password </button>
</form>

{% endblock%}
